@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    font-size: 32px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #2d2d2d;
    color: #eee;
    font-family: 'Sacramento', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1{
    color: lightpink;
}

p{
    color: lightgoldenrodyellow;
}

a{
    color: lightpink;
}